*{
    padding: 0%;
    margin: 0px;
    scroll-behavior: smooth;
}
body{
    background-color: rgb(0, 0, 38);
    color: white;
}
.btn{
    padding: 5px;
    border: 2px solid white;
    border-radius: 6px;
    background-color: rgb(44, 25, 171);
    color: white;
    font-size: 1rem;
}
.line{
    background-color: white;
}
.hr_tag{
    width: 80%; 
    margin-left:10%;
}
.font{
    text-align: justify;
    word-spacing: 3px;
}
/* ------- Navigation Bar -----------------*/

.navbar{
    background-color: rgb(25 0 89);
    position: fixed;
    width: 100%;
    display: flex;
    height: 45px;
}
.leftnav{
width: 35%;
display: flex;
justify-content: center;
align-items: center;
}
.leftnav p{
    font-size: 1.8rem;
}
.rightnav{
    width: 65%;
}
.rightnav ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
.rightnav ul li{
    margin: 10px;
    
    
}
.rightnav ul li a{
    color: white;
    padding:6px;
    text-decoration: none;
    font-size: 1.2rem;

}
.rightnav ul li a:hover{
    color: red;
    font-size: 1.3rem;
    cursor:default;
}

/* --------------- Home Section ----------------*/

.home{
    display: flex;
    padding-bottom: 4%;
}
.intro{
    /* border: 2px solid green; */
    width: 45%;
    padding: 10% 5%;
    margin-left: 5%;
}
.intro h1{
    color: rgb(245, 245, 245);
    font-size: 4rem;
    font-weight: 500;
    margin-top: 2px;
}
.name{
    color: rgb(237, 122, 255);
}
.intro p{
    color: rgb(216, 210, 210);
    padding-top: 5px;
    font-size: 1.1rem;
}
#resume{
    margin-top: 18px;
}
.intro h2{
    color: rgb(52, 136, 0);
    font-size: 2.1rem;
    font-weight: 600;
}
.intro h3{
    color: whitesmoke;
    font-size: 1.3rem;
    font-weight: lighter;
}
#intro_pic{
    width: 55%;

}
#intro_pic img{
    width: 70%;
    margin-top: 15%;
    margin-left: 13%;
}

/*------------------ About Section ---------------------*/
#about{
    margin: 0% 5%;
    padding: 1% 3%;
    display: flex;
}
#about_pic{
    width: 30%;
    height: 100%;
    margin: 1%;
    padding: 1%;
    margin-top: 4%;
}
#about_pic img{
    width: 100%;
    height: 100%;
    border-radius: 13px;
}
.about_detail{
    margin: 1%;
    padding: 1%;
    width: 70%;
}
.about_detail h1{
    font-size: 2.5rem;
}
.about1{
    margin: 4px 0px;
    width: 8rem;
    height: 2px;
    margin-bottom: 2%;
    background-color: rgb(255, 17, 17);
}
.about_detail p{
    color: rgb(204, 231, 234);
    font-size: 1.1rem;
    line-height: 23px;
    word-spacing: 5px;
}
.about_detail h2{
    margin: 2% 0%;
}
#edu_line{
    height: 17rem;
    width: 1px;
    margin-left: 2%;
}
.edu_detail{
    display: flex;
    
}
.degree{
    /* border: 2px solid red; */
    font-size: 1.1rem;
    color: rgb(209, 209, 209);
    width: 100%;
    margin: 3%;
}
.degree div{
    font-size: 1.2rem;
}
.degree div a{
    line-height: 25px;
    text-decoration: none;
    margin: 45px 0px;
    color: rgb(190, 131, 246);
}

/* ------------------- Skills ----------------------- */

.skills{
    margin: 1% 8%;
    padding: 2% 2% 0% 2%;
}
.skills h1{
    font-size: 2.5rem;
}
.skills_title_line{
    width: 5rem;
    height: 1.5px;
    margin: 1px 0%;
    background-color: rgb(255, 17, 17);
}
.language{
    margin: 2%;
}
.language li{
    margin: 1%;
    font-size: 1.5rem;
    color: cornsilk;
}

/* -------------------- Project ------------------- */

.project{
    margin: 1% 8%;
    padding: 2% 2% 0% 2%;
}
.project h1{
    font-size: 2.5rem;
}
.project_title_line{
    width: 8rem;
    height: 1.5px;
    margin: 0.8% 0%;
    background-color: rgb(255, 17, 17);
}
.project_title{
    margin: 2%;
    font-size: 1.8rem;
}
.project_title span{
    color: rgb(235, 1, 110);
}
.project_title p{
    font-size: 1.25rem;
    margin: 2% 0% 1% 10%;
    word-spacing: 5px;
    line-height: 27px;
}
.project_title a{
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    margin-left:12%;
    text-decoration: none;
    cursor: default;
}
.project_title a span{
    color: rgb(103, 95, 255);
    font-size: 1.2rem;
    cursor: pointer;
}

/* -------------------Contact Me---------------- */

.contact{
    margin: 1% 8%;
    padding: 1% 2%;
}
.contact h1{
    font-size: 2.5rem;
}
.contact_title_line{
    width: 10rem;
    height: 1.5px;
    margin: 0.8% 0%;
    background-color: rgb(255, 17, 17);
}
.form{
    margin: 2% 1%;
    display: flex;
    flex-direction: column;
}
.form-input{
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.25rem;
    padding: 5px;
    margin: 5px;
    width: 40%;
    text-align: center;  
}
.submit_btn{
    width: 10%;
    margin: 5px;

}